.navbarContainer {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
        .brandName {
            font-size: 1.5rem;
        }
    }

    .actionGroup {
        .cityInfo {
            .cityName {
                margin-left: 4px;
            }
        }
    }
}