@import './../../../utils/scss/_variables';
@import './../../../utils/scss/_mixins';

.currentWeatherContainer {
    padding: 0 16px 4rem 16px;
    
    .currentWeatherHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        @include for-phone-only {
            flex-direction: column;
        }

        .locationInfo {
            display: flex;
            flex-direction: column;

            @include for-phone-only {
                margin-bottom: 1rem;
            }

            .city {
                font-size: 2rem;
                font-weight: 100;
            }
        }
    }

    .weatherContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include for-phone-only {
            display: flex;
            flex-direction: column;
        }

        .mainWeatherInfo {
            @include for-phone-only {
                margin-bottom: 2rem;
            }

            .weather {
                display: flex;
                flex-direction: column;
    
                .weatherDescContainer {
                    display: flex;
                    align-items: center;
                    font-weight: 100;
    
                    .weatherIcon {
                        height: auto;
                        width: 20%;
                    }
    
                    .weatherDesc {
                        font-size: 3rem;
                    }
                }
    
    
                .weatherTemp {
                    display: flex;
                    align-items: center;
    
                    .temperature {
                        font-size: 2rem;
                        font-weight: 100;
                        margin-right: 4px;
                    }
                }
    
                .feelsLike {
                    color: $secondary-text-color;
                }
            }
        }

        .weatherRestInfo {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @include for-phone-only {
                grid-template-columns: repeat(2, 1fr);
                row-gap: 1rem;
            }

            .item {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;

                @include for-phone-only {
                    align-items: flex-start;
                }

                .infoLabel {
                    font-size: 12px;
                    color: $secondary-text-color;
                }

                .infoValue {
                    .value {
                        font-size: 2rem;
                        font-weight: 100;
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    .messageContainer {
        width: 50%;
        position: relative;

        @include for-phone-only {
            width: 100%;
        }

        .msg {
            color: #41343c;
            padding: 8px;
            display: grid;
            grid-template-columns: 5% 90%;
            column-gap: 3%;
            align-items: center;
            border-radius: 8px;

            @include for-phone-only {
                grid-template-columns: 10% 85%;
            }
            
            &.warning { background-color: $warning-text-color; }
            &.danger { background-color: $danger-text-color; }
            &.normal { background-color: $normal-text-color; }
        }

        .close {
            position: absolute;
            background-color: $white;
            border-radius: 50%;
            padding: 2px 8px;
            border: #EAEAEA;
            right: -5px;
            bottom: 0;
            cursor: pointer;

            @include for-phone-only {
                bottom: -2px;
            }
        }
    }
}
